:root{
    margin:0;
    padding:0;
    height: 0;
}
html {
    font-family: arial,sans-serif;
}
.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.center-logo {
    display: block;
}
.center-logo img{
    aspect-ratio: auto 272 / 92;
    height: 92px;
    margin-bottom: -50px;
}
#form-container {
    display: block;
    width: 600px;
    padding: 30px 15px;
}
#form-container form {
    padding: 30px 15px;
    text-align: center;
}
#form-container form :is(input, button) {
    padding: 5px 15px;
    margin: 0px 5px 20px;
    text-align: center;
    font-family: Arial;
    border:none;
}
#form-container form input {
    padding: 12.5px;
    border-radius: 24px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}
#form-container form button {
    border-radius: 2px;
}
ul {
    margin: 0;
    padding: 0;
    width: 100%;
    border-style: thick;
}
ul.navbar-top {
    list-style-type: none;
}
ul.navbar-top li:nth-child(3) {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}
li, a {
    float: left;
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    padding: 8px;
}
head {
    background-color: blue;
}
#rightside {
    float: right;
}
.searchbar input {
    width: 82.5%;
}
#rightside-bot {
    float: right;
}
.navbar-bot {
    background-color: #4CAF50;
}