
#google-logo { 
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
    display: flex;
}
.container {
    display:flex;
    flex-direction:column;
}
.center-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
}
.searchbar {
    margin-top: -20px;
    min-width: 980px;
    height: 64px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: center;
    display:flex;
}
#textfield {
    display: flex;
    flex: 100%;
    margin: 0;
    padding: 0;
    height: 34px;
    margin-top: -37px;
    width: 40%;
}    
